<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="messageListener" class="com.edu.java.demo3.MessageListener"></bean>

    <bean id="consumerDemo" class="com.edu.java.demo3.ConsumerDemo" init-method="init" destroy-method="destory">
        <constructor-arg name="nameServerAddr" value="localhost:9876"></constructor-arg>
        <constructor-arg name="consumerGroupName" value="spring_consumer_group"></constructor-arg>
        <constructor-arg name="topicName" value="spring-rocketMQ-topic"></constructor-arg>
        <constructor-arg name="messageListener" ref="messageListener"></constructor-arg>
    </bean>

</beans>