<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="orderMessageListener" class="com.edu.java.demo4.consumer.OrderMessageListener"></bean>

    <bean id="producer" class="com.edu.java.demo4.consumer.OrderConsumer" init-method="init" destroy-method="destroy">
        <constructor-arg name="nameServerAddr" value="localhost:9876"></constructor-arg>
        <constructor-arg name="consumerGroupName" value="ch_consumer_group"></constructor-arg>
        <constructor-arg name="topicName" value="topic_example_order"></constructor-arg>
        <constructor-arg name="messageListener" ref="orderMessageListener"></constructor-arg>
    </bean>

</beans>